@use "../../../styles/mixin/modal.mixin" as mixin;

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 8px;

  & > * {
    z-index: 100;

    @include mixin.modal(openModal);
  }

  &Close {
    & > * {
      @include mixin.modal(closeModal);
    }
  }
}
